<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
  <h1>Pokemon</h1>
  <input id="poke-chooser" type="number" name="num" placeholder="poke no.j">
  <button id="poke-go">Get it!</button>

  <div id="poke-holder">
        

  </div>
  <input id="zip" type="number" name="num" placeholder="enter zip" value="60626">
  <button id="weather-btn">Get it!</button>

  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>